.sidebar-2K8pFh {
    margin-right: var(--base-spacing);
    border-radius: 0 !important;
    background-color: transparent;
    > nav {
        border-radius: var(--base-rounding);
        background-color: var(--background-alt);
    }
    .scrollerBase-289Jih {
        border-radius: var(--base-rounding);
        background-color: var(--background-alt);
    }

    .header-2V-4Sw {
        border-radius: 0;
    }
}