.titleBar-AC4pGV {
    height: 25px;
    margin: var(--base-spacing) var(--base-spacing) 0 var(--base-spacing);
    border-radius: 50px;
    background-color: var(--background-alt);
    .wordmark-2iDDfm {
        margin-top: 10px;
        margin-left: 6px;
    }
    .winButton-iRh8-Z {
        margin-top: 5px;
    }
}