// control buttons
.container-3auIfb:not([style="opacity: 1; background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%);"]) {
    background-color: hsla(var(--accent-secondary)) !important;
    rect {
        fill: hsla(var(--accent-primary));
    }
}
.slider-TkfMQL {
    /*> rect {
        fill: var(--accent-primary);
    }*/
    > svg {
        display: none;
    }
}
